.text-tab-start-form.active {
    color: #000000 !important;
    background-color: #87CABC !important;
    border-color: #3EB489 #3EB489 #dee2e6 !important;
}

.body-img {
    background-image: url("../img/img.jpg");
    background-repeat: no-repeat;
}

.text-tab-start-form {
    color: #3EB489;
}

.btn-sign-out {
    color: black;
    border: 1px solid white;
    width: 100%;
}

.btn-sign-out:hover {
    background-color: #D3D6DD;
    border-color: #D3D6DD;
}

.txt-algn-center {
    text-align: center;
}

.text-button-start-form {
    border: 2px solid #3EB489;
    background-color: #ffffff;
    color: black;
}


.lang-button:hover {
    background-color: #ffffff;
    border-color: #3EB489;
    color: black;
}

.text-button-start-form:hover {
    border-color: #3EB489;
    background-color: #3EB489;
    color: black;

}

.logo-size {
    height: 55px;
}

.start-nav-color {
    color: #000000 !important;
}

li.nav-item:hover {
    background-color: white;
}

.bor-nav-button {
    border-left: 2px solid white;
}

.bor-last-button {
    border-left: 2px solid white;
    border-right: 2px solid white;

}

.start-page-nav-itm {
    height: 65px;
}


.p-t-b-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.form form {
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bor {
    border: 1px solid #dee2e6;
}

.size {
    padding-top: 150px;
}

.p-l-27 {
    padding-left: 27px;
}

.p-top-7 {
    padding-top: 7px;
}

.p-t-27 {
    padding-top: 27px;
}

.p-left-7 {
    padding-left: 27px;
}

.p-right-27 {
    padding-right: 27px;
}

.p-r-0 {
    padding-right: 0px;
}

.p-l-0 {
    padding-left: 0px;
}

.cont {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
}

.p-0 {
    padding: 0px;
}

.m-3-5-5-5 {
    margin: 3px 5px 5px 5px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-r-15 {
    padding-right: 15px;
}

.wight-100 {
    width: 100%;
}

.m-t-7 {
    margin-top: 7px;
}

.m-0 {
    margin: 0;
}

.m-t-17 {
    margin-top: 17px;
}

.icon-user {
    margin-top: 19px;
}

.p-t-21 {
    padding-top: 21px;
}

.m-t-15 {
    margin-top: 15px;
}


.txt-algn {
    text-align: left;
}

.height-100 {
    height: 100%;
}

.border-menu {
    border-bottom: 2px solid #304960;
}


.background-gradient {
    background-color: #304960;
}

.p-l-43 {
    padding-left: 43px;
}

.logo-color {
    background-color: #EDFFFF;
}

.vertical-menu {
    font-size: larger;
    color: white;
    border-radius: 0rem !important;
}

.vertical-menu:hover {
    background-color: #EDFFFF;
    color: black;

}

.vertical-menu.active {
    background-color: #EDFFFF !important;
    color: black !important;
}

.test-start-btn {
    border-color: #508B00;
    text-decoration: none;
    outline: none;
    display: inline-block;
    box-shadow: 0 0 40px 40px #508B00 inset, 0 0 0 0 #508B00 !important;


    color: white;
    transition: .15s ease-in-out;
}

.test-start-btn:hover {
    box-shadow: 0 0 10px 0 #383D1F inset, 0 0 10px 4px #383D1F !important;
    color: black !important;
    background-color: white !important;
    border-color: #383D1F;

}

.m-t-35 {
    margin-top: 35px;
}

.height-90 {
    height: 90%;
    width: 99%;

}

.p-l-21 {
    padding-left: 21px;
}

.max-w-nav {
    max-width: 1200px;
}

.img-size {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

.round {
    border-radius: 100px;
}


.body-background {
    background-color: #f5fffe;
}

.color-white {
    background-color: white;
}

.letter_style {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.menu-color {
    background-image: url('../img/headers.jpg');
}

.user-detail {
    height: 100%;
    color: #4D4D52 !important;
    background-color: #B3E1EE;
}

.user-name {
    font-size: larger;
    vertical-align: 5;
    margin-left: 5px;
}

.en {
    height: 20px;
    background-size: contain;
    background-image: url("../img/us.svg");
    background-repeat: no-repeat;
    margin-left: 5px;

}

.ru {
    height: 20px;
    background-size: contain;
    background-image: url("../img/ru.svg");
    background-repeat: no-repeat;
    margin-left: 5px;

}

.m-r-15 {
    margin-right: 15px;
}

.user-drop-down:hover {
    background-color: #B3E1EE;
    color: black !important;
}

.p-t-b-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}


.m-l-15 {
    margin-left: 15px;
}

.m-t-10 {
    margin-top: 10px;
}

.p-l-35 {
    padding-left: 35px;
}


.p-t-25 {
    padding-top: 25px;
}

.item-start {
    padding-top: 19px;
    font-size: larger;
}

.nav-vrl {
    color: black !important;
    padding: 19px 17px !important;
}

.nav-vrl:hover {
    color: #ffffff !important;
    background-color: #304960 !important;
}

.nav-vrl.active {
    color: #ffffff !important;
    background-color: #304960 !important;
}


.p-l-16 {
    padding-left: 16px;
}

.user-drop-down {
    font-size: large;
    color: black;
}

.form-width100{
    width: 100%;
}






